<%= render 'layouts/header' %>
<div class="container">
	<h1 class="point-index-headline"><strong>スポット一覧</strong></h1>
	<div class="border"></div>
	<%= render 'points/index' %>
</div>




<%= render 'layouts/footer' %>