<%= render 'layouts/header' %>

<div class="container">
	<div class="row">
		<h1 class="user-index-headline">フォロワー</h1>
		<div class="col-xs-10 col-xs-offset-1">
			<% @users.each do |f| %>
        <%= render 'users/index', users: f %>
      <% end %>
    </div>
  </div>
</div>