<%= render 'layouts/header' %>

<div class="container">
	<div class="row">
		<h1 class="user-index-headline">ユーザー 一覧</h1>
		<div class="border"></div>
		<div class="col-xs-10 col-xs-offset-1">
			<% @users.each do |f| %>
	      <%= render 'users/index', users: f %>
	    <% end %>
    </div>
    <div style="text-align: center;">
    	<%= paginate @users %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>