<%= render 'layouts/header' %>

<div class="main-visual">
	<img src="<%= asset_path "kingyo.JPG" %>">
<!-- 	<img src="assets/iruka.JPG">
	<img src="assets/aji.JPG">
	<img src="assets/kame.JPG">
	<img src="assets/hummer.jpeg">
 --></div>

<main>
	<div class="can">
		<h1>DiveLink</h1>
		<div class="border"></div>
		<div class="image-box-area">
			<div class="image-box"></div>
			<div class="image-box"></div>
			<div class="image-box"></div>
	  </div>
	</div>
</main>
