<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<h1 class="post-index-headline"><strong>フォローのブログ</strong></h1>
		<div class="border"></div>
		<%= render 'posts/index', posts: @posts %>
	</div>
	<div>
		<%= paginate @posts %>
	</div>
</div>
<%= render 'layouts/footer' %>