<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<h1 class="post-index-headline">ブログ一覧</h1>
		<div class="border"></div>
		<%= render 'posts/index', posts: @posts %>
		<div style="text-align: center;">
			<%= paginate @posts %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>