// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.pointmap-headline {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
}

.pointmap-area {
	width: 100%;
	margin-bottom: 70px;
	img {
		display: block;
		margin: 0 auto;
		width: 800px;
		height: 600px;
	}
}

.genre-name {
	margin-left: 10px;
	color: black;
}
.area-name {
	position: absolute;
}
.area-name:nth-child(2) {
	bottom: 610px;
	right: 310px
}
.area-name:nth-child(3) {
	bottom: 391px;
	right: 330px;
}
.area-name:nth-child(4) {
	bottom: 427px;
	right: -5px;
}
.area-name:nth-child(5) {
	bottom: 335px;
	left: 290px;
}
.area-name:nth-child(6) {
	bottom: 289px;
	right: 14px;
}
.area-name:nth-child(7) {
	bottom: 250px;
	right: -28px;
}
.area-name:nth-child(8) {
	bottom: 136px;
	right: 133px;
}
.area-name:nth-child(9) {
	bottom: 97px;
	right: 119px;
}
.area-name:nth-child(10) {
	bottom: 175px;
	right: 63px;
}
.area-name:nth-child(11) {
	bottom: 140px;
	right: 270px;
}
.area-name:nth-child(12) {
	bottom: 275px;
	left: 110px;
}
.area-name:nth-child(13) {
	bottom: 94px;
	right: 399px;
}
.area-name:nth-child(14) {
	bottom: 150px;
	left: 40px;
}
.area-name:nth-child(15){
	bottom: 583px;
	left: 200px;
}
.area-name:nth-child(16){
	bottom: 544px;
	left: 200px;
}
.area-name:nth-child(17){
	bottom: 505px;
	left: 200px;
}
.area-name:nth-child(18){
	display: none;
}









