// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.point-index-headline {
	text-align: center;
	margin-bottom: 0;
	margin-top: 30px;
}

.sidebar {
	position: absolute;
	padding-top: 90px;
}

.sidebar.sticky {
	padding-top: 90px;
	position: fixed;
	top: 0;
}


.point-image {
	border-radius: 20px;
	transition-duration: 0.2s;
}
.point-image:hover {
	opacity: 0.6;
	transition-duration: 0.2s;
}

.pointposts-headline {
	text-align: center;
	margin-top: 50px;
}



.point-section .tabs-nav li {
	border-right: 1px solid gray;
	float: left;
	position: relative;
	-webkit-box-shadow: 1px 0 rgb(255,255,255);
	        box-shadow: 1px 0 rgb(255,255,255);
}
.point-section .tabs-nav a {
	display: block;
	padding: 0 1.36em;
	position: relative;
}
.point-section .tab-nav a:hover {
	background-color: rgb(51,51,51);
	color: rgb(255,255,255);
}
.point-section .tabs-nav a.active {
	background-color: rgb(51,51,51);
	color: rgb(255,255,255);
}
.point-section .tabs-nav a.active:after {
	background: url(../assets/images/kerama-sango.jpg) no-repeat 0 0;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 37px;
	height: 19px;
	margin-left: -18px;
}
.point-section .section-body {
	height: 400px;
	position: relative;
}
#point01 {
	background-image: image-url("kerama-sunati.jpg")
}
























