// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.point-index-headline {
	text-align: center;
	margin-bottom: 0;
	margin-top: 30px;
}