// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.post-index-headline {
	text-align: center;
	margin: 30px 0 30px 0;
}

.post-title-index {
	color: black;
	margin-top: 10px;
	margin-bottom: 0;
	text-decoration: none;
}

.main-image {
	position: relative;

	.date {
		position: absolute;
		color: white;
		top: 500px;
		left: 150px;
	}
	.title {
		position: absolute;
		color: white;
		top: 540px;
		left: 150px;
	}
	.post-user {
		position: absolute;
		color: white;
		top: 600px;
		left: 150px;
	}
	.edit {
		position: absolute;
		right: 150px;
		top: 550px;
	}
	.like {
		font-size: 25px;
		color: white;
		position: absolute;
		right: 150px;
		top: 600px;
	}
}

.post-body {
	padding-top: 40px;
}

.blog-body {
	word-wrap: break-word;
	font-size: 18px;
}




