// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.post-index-headline {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
}

.post-title-index {
	color: black;
	margin-top: 10px;
	margin-bottom: 0;
	text-decoration: none;
}

.main-image-area {
	position: relative;

	.date {
		position: absolute;
		color: white;
		top: 500px;
		left: 150px;
	}
	.post-point {
		position: absolute;
		color: white;
		top: 502px;
		left: 330px;
		font-size: 20px;
	}
	.title {
		position: absolute;
		color: white;
		top: 540px;
		left: 150px;
	}
	.post-user {
		position: absolute;
		color: white;
		top: 600px;
		left: 150px;
	}
	.edit {
		position: absolute;
		right: 150px;
		top: 550px;
	}
	.like {
		font-size: 25px;
		color: white;
		position: absolute;
		right: 150px;
		top: 600px;
	}
}

.post-body {
	padding: 40px 0;
}

.blog-body {
	margin-left: 30px;
	word-wrap: break-word;
	font-size: 18px;
}

.post-index-img {
	border-radius: 20px;
  transition-duration: 0.2s;
}
.post-index-img:hover {
	opacity: 0.6;
  transition-duration: 0.2s;
}

.post-show-profile-image {
	border-radius: 50%;
}


.main-image {
	position:relative;
}

.main-image:after{
  position: absolute;
  content:"";
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(0,0,0,0.7) 100%);
}

.post-pointname {
	position: relative;
	bottom: 120px;
	left: 15px;
}
.post-icon-area {
	float: right;
	position: relative;
	padding: 4px 10px;
	border-radius: 20px;
	bottom: 68px;
	right: 10px;
}


.newpost-btn {
	color: black;
	border: solid 1px black;
	text-decoration: none;
	font-size: 50px;
	display: inline-block;
  background: white;
  width: 57px;
  height: 57px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .3s;
}

.newpost-btn:hover {
	text-decoration: none;
	background-color: #DDDDDD;
}






























