// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.topic-area {
	background-color: #EEEEEE;
	width: 100%;
	min-height: 600px;
}
.topic {
	margin-top: 30px;
}
.topic-body {
	display: inline-block;
	max-width: 600px;
  word-wrap:break-word;
  background-color: #fff;
  border: 2px solid #13178E;
  border-radius: 0 30px 30px 30px;
  padding: 15px 15px;
  margin: 0 0 0 35px;
  font-size: 18px;
}
.topic-user-link {
	color: black;
	text-decoration: none;
}
.topic-user-linkarea {
	text-decoration: none;
	width: 140px;
}
.topic-profile-image {
	border-radius: 50%;
	float: left;
}
.topic-user-name {
	height: 32px;
	line-height: 32px;
	margin: 0 0 0 40px;
}